table {
  border: 2px solid #acf;
  border-collapse: separate;
  margin: 30px 15px;
}
th, td {padding: 10px;}
th {
  background-color: #acf;
  text-align: center;
}
tr:nth-of-type(odd) {background-color: #def;}
.center-div {margin: 0 auto}
